
<navbar-component></navbar-component>
<div class="container-fluid maincontainer">
  <div class="container-fluid scrollable-hidden">
    <div class="row header-row">
      <div class="col-md-12 text-center">
        <h1>Speciality Diving - Basic Nitrox</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <h2>What You Will Learn?</h2>
          <span>
            <i class="fas fa-map-marked iconMinSize"></i>
            <span> Dive Planning</span>
          </span>
          <span>
            <i class="fas fa-long-arrow-alt-down iconMinSize"></i>
            <span> Nitrox Depth Limits</span>
          </span>
          <span>
            <i class="fas fa-gas-pump iconMinSize"></i>
            <span> Choice of Nitrox Mix</span>
          </span>
          <span>
            <i class="fas fa-chart-bar iconMinSize"></i>
            <span> Gas Analysis</span>
          </span>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="row">
            <div class="col-md-11 leftHeaderText">
              <h2>Why Should You Take This Course?</h2>
            </div>
            <div class="col-md-1 bookIcon">
              <i class="fas fa-book"></i>
            </div>
            <p>The CMAS Basic Nitrox Course is an attractive speciality scuba course it enables you extend your
              bottom
              time
              and shorten surface intervals without the disadvantage of incurring decompression. If you want to stay
              down
              longer and get back in the water sooner then you should enrol on a CMAS Basic Nitrox course. 
              <p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h2>How Do You Get Started?</h2>
          <p>To begin your journey as a CMAS Nitrox Diver you must be at least 14 years old and be a certified CMAS One
            Star Diver (or equivalent). You must have a medical certificate that declares you medically fit to scuba
            dive
            by a certified physician that is not older than two years.
            There are many CMAS Instructors throughout the whole of South Africa who would be thrilled to have you as a
            participant on a Basic Nitrox Diver Training Programme. Please click here if you want to come into contact
            with
            a CMAS Instructor in your area.  
            You can also contact the CMAS–ISA office for more information on the CMAS Basic Nitrox Diver Training
            Programme
            or a CMAS Instructor in your area by clicking here.
            <p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="image-card">
          <div id="sport-diving-img-wrapper">
            <img id="sport-diving-img" src="../../assets/images/sport-diver/Picture1.jpg">
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <h2>What Are The Next Steps?</h2>
          <p>Upon completion of a CMAS Nitrox Diver certification you will have sufficient knowledge, skill and
            experience
            to procure nitrox, equipment compatible with Nitrox diving and to plan open water dives using various
            nitrox
            mixes to the maximum depth that you are qualified to dive to, without the supervision of a CMAS Instructor
            or
            CMAS Dive Leader, when properly equipped and accompanied by another certified diver.
            <p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="card">
          <h2>Further Diving And Developmental Opportunities</h2>
          <p>Upon completion of your CMAS Basic Nitrox Diver Training Programme you may want to enrol in one of the
            following CMAS speciality training Programmes:
            <p>
              <ul>
                <li>CMAS Underwater Photography Training Programme</li>
                <li>CMAS Wreck Diver Level 1 Training Programme</li>
                <li>CMAS Compressor Operator Training Programme</li>
              </ul>
        </div>
      </div>
    </div>
  </div>
</div>