body{ margin: 0;
    font-family: Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    overflow: hidden;
}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.7)!important;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-bottom: 20px;
    height: 95%;
    padding: 10px 20px 10px 20px;
}

.image-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.7)!important;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-bottom: 20px;
    height: 95%;
}

.header-row{
    margin: 0px 0px 20px 0px;
    background-color: rgba(255, 255, 255, 0.7)!important;
    border: 1px solid white;
    border-radius: 10px;
}

/*Start of main container styling*/
.maincontainer{
    z-index: 10;
    max-width: 70vw;
    padding: 3vh 3vh 3vh 3vh;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: calc(100vh - 100px);
    overflow: hidden;
}

.header2maincontainer{
    z-index: 10;
}
/*End of main container styling*/


/*Start of background video styling*/
.wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -99;
}

.fullscreen-video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -98;
}
.fullscreen-video-wrap video{
    min-height: 100%;
    min-width: 100%;
}
/*End of background video styling*/

/*Start of background img styling*/
#cmas-img-wrapper{
    z-index: -97;
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cmas-img{
    vertical-align: middle;
    border-style: none;
    min-width: 330px;
    max-width: 600px;
    height: calc(100vh - 860px);
    min-height: 65px;
    max-height: 125px;
    margin-top: 30px;
    margin-bottom: 30px;
}
/*End of background img styling*/

/*Start of header styling*/
.header-overlay{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(34,33,33,0.65);
    opacity: 0.80;
    
}

.header-content{
    z-index: 2;
    margin-top:20%;
    padding: 0 5rem;
    
}

.header-content h1{
    font-size: 50px;
    margin-bottom: 0;
    
}
.header-content p{
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    margin-top: 10px;
}
/*End of header styling*/

