<nav class="navbar navbar-expand-md navbar-dark">
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Scuba Diving
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="sport-diving">Sport Diving</a>
              <a class="dropdown-item" href="#">Leadershhip Diving</a>
              <a class="dropdown-item" href="#">Speciality Diving</a>
              <a class="dropdown-item" href="#">Technical Diving</a>
            </div>
          </li>
      </ul>
    </div> 
  </nav>
  
<div class="video-header wrap">
  <div class="fullscreen-video-wrap">
    <video src="../../assets/images/UnderwaterLoop.MP4" autoplay loop></video>
  </div>
  <div class="row col-centered">
    <div class="col-md-12 col-centered">
      <a id="logo" href="#" class="container"><img src="../../assets/images/Header2.png" style="width: 100%; text-align: center;"></a>
    </div>
  </div>
</div>




  
  
  
  
